extends ../layout

block content
    .page-header
        h3 This is #{sport.name} page
    ul

        li=sport.name
        li=sport.type

        form.form-horizontal(id='signup-form', method='POST' action="/deleteSport")
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='name', value=sport.name)
            .form-group
                .col-sm-offset-3.col-sm-7
                    button.btn.btn-success(type='submit')
                        i.fa.fa-trash-o
                        | Delete

    a(href='/listsports') Back to List
    |